In [1]:
import sys
from pathlib import Path
home = str(Path.home())
core_dir = home+'/repositories/ai-x/core'
sys.path.insert(0, core_dir)
core_dir = home+'/repositories/ai-DR/core'
sys.path.insert(0, core_dir)

datadir = home+"/repositories/ai-DR/models/dataset_quality_XGB"
output_dir = "output_dir"

from misc import check_output_dir
check_output_dir(output_dir, keep_old = False)

from dataset_quality import *

In [2]:
methods = ["xgb", "rf"]
df = get_internal_dataset_quality(datadir, methods)
df

,Dataset Version,model,method,n_models,Rp(mean),Rp(max),Rs(mean),Rs(max),R2(mean),R2(max),RMSE(mean),RMSE(min)
0,models_C33_1,D2_antagonist,xgb,10,0.81 (0.02),0.81,0.79 (0.02),0.79,0.64 (0.03),0.64,0.63 (0.02),0.60
1,models_C33_1,D2_antagonist,rf,10,0.81 (0.01),0.81,0.8 (0.01),0.80,0.64 (0.02),0.64,0.64 (0.02),0.60
2,models_C33_1,D3_antagonist,xgb,10,0.83 (0.03),0.83,0.82 (0.03),0.82,0.68 (0.04),0.68,0.66 (0.05),0.59
3,models_C33_1,D3_antagonist,rf,10,0.83 (0.02),0.83,0.83 (0.02),0.83,0.69 (0.03),0.69,0.65 (0.04),0.61
4,models_C33_2,D2_antagonist,xgb,10,0.8 (0.01),0.80,0.8 (0.01),0.80,0.64 (0.01),0.64,0.64 (0.01),0.61
5,models_C33_2,D2_antagonist,rf,10,0.8 (0.01),0.80,0.8 (0.01),0.80,0.64 (0.01),0.64,0.64 (0.02),0.62
6,models_C33_2,D3_antagonist,xgb,10,0.83 (0.02),0.83,0.84 (0.02),0.84,0.69 (0.03),0.69,0.66 (0.03),0.62
7,models_C33_2,D3_antagonist,rf,10,0.83 (0.01),0.83,0.84 (0.02),0.84,0.69 (0.02),0.69,0.66 (0.02),0.64
8,models_C33_3,D2_antagonist,xgb,10,0.81 (0.01),0.81,0.81 (0.01),0.81,0.66 (0.02),0.66,0.66 (0.02),0.62
9,models_C33_3,D2_antagonist,rf,10,0.81 (0.02),0.81,0.81 (0.02),0.81,0.65 (0.02),0.65,0.67 (0.02),0.64
10,models_C33_3,D3_antagonist,xgb,10,0.82 (0.01),0.82,0.82 (0.01),0.82,0.68 (0.02),0.68,0.71 (0.02),0.69
11,models_C33_3,D3_antagonist,rf,10,0.82 (0.02),0.82,0.82 (0.01),0.82,0.67 (0.02),0.67,0.72 (0.02),0.69
12,models_C33_4,D2_antagonist,xgb,10,0.81 (0.02),0.81,0.8 (0.02),0.80,0.65 (0.03),0.65,0.64 (0.02),0.61
13,models_C33_4,D2_antagonist,rf,10,0.8 (0.02),0.80,0.8 (0.02),0.80,0.63 (0.03),0.63,0.66 (0.03),0.62
16,models_C33_5,D2_antagonist,xgb,10,0.81 (0.01),0.81,0.81 (0.02),0.81,0.65 (0.02),0.65,0.64 (0.02),0.61
17,models_C33_5,D2_antagonist,rf,10,0.81 (0.01),0.81,0.81 (0.02),0.81,0.64 (0.02),0.64,0.66 (0.02),0.62
20,models_C33_6,D2_antagonist,xgb,10,0.83 (0.01),0.83,0.83 (0.01),0.83,0.68 (0.02),0.68,0.63 (0.03),0.59
21,models_C33_6,D2_antagonist,rf,10,0.82 (0.01),0.82,0.82 (0.01),0.82,0.66 (0.02),0.66,0.65 (0.03),0.60

In [3]:
_df = df[df["model"]=="D2_antagonist"]
_df.to_csv("output_dir/dataset_quality_D2_antagonist.csv")
_df

,Dataset Version,model,method,n_models,Rp(mean),Rp(max),Rs(mean),Rs(max),R2(mean),R2(max),RMSE(mean),RMSE(min)
0,models_C33_1,D2_antagonist,xgb,10,0.81 (0.02),0.81,0.79 (0.02),0.79,0.64 (0.03),0.64,0.63 (0.02),0.60
1,models_C33_1,D2_antagonist,rf,10,0.81 (0.01),0.81,0.8 (0.01),0.80,0.64 (0.02),0.64,0.64 (0.02),0.60
4,models_C33_2,D2_antagonist,xgb,10,0.8 (0.01),0.80,0.8 (0.01),0.80,0.64 (0.01),0.64,0.64 (0.01),0.61
5,models_C33_2,D2_antagonist,rf,10,0.8 (0.01),0.80,0.8 (0.01),0.80,0.64 (0.01),0.64,0.64 (0.02),0.62
8,models_C33_3,D2_antagonist,xgb,10,0.81 (0.01),0.81,0.81 (0.01),0.81,0.66 (0.02),0.66,0.66 (0.02),0.62
9,models_C33_3,D2_antagonist,rf,10,0.81 (0.02),0.81,0.81 (0.02),0.81,0.65 (0.02),0.65,0.67 (0.02),0.64
12,models_C33_4,D2_antagonist,xgb,10,0.81 (0.02),0.81,0.8 (0.02),0.80,0.65 (0.03),0.65,0.64 (0.02),0.61
13,models_C33_4,D2_antagonist,rf,10,0.8 (0.02),0.80,0.8 (0.02),0.80,0.63 (0.03),0.63,0.66 (0.03),0.62
16,models_C33_5,D2_antagonist,xgb,10,0.81 (0.01),0.81,0.81 (0.02),0.81,0.65 (0.02),0.65,0.64 (0.02),0.61
17,models_C33_5,D2_antagonist,rf,10,0.81 (0.01),0.81,0.81 (0.02),0.81,0.64 (0.02),0.64,0.66 (0.02),0.62
20,models_C33_6,D2_antagonist,xgb,10,0.83 (0.01),0.83,0.83 (0.01),0.83,0.68 (0.02),0.68,0.63 (0.03),0.59
21,models_C33_6,D2_antagonist,rf,10,0.82 (0.01),0.82,0.82 (0.01),0.82,0.66 (0.02),0.66,0.65 (0.03),0.60

In [4]:
_df = df[df["model"]=="D3_antagonist"]
_df.to_csv("output_dir/dataset_quality_D3_antagonist.csv")
_df

,Dataset Version,model,method,n_models,Rp(mean),Rp(max),Rs(mean),Rs(max),R2(mean),R2(max),RMSE(mean),RMSE(min)
2,models_C33_1,D3_antagonist,xgb,10,0.83 (0.03),0.83,0.82 (0.03),0.82,0.68 (0.04),0.68,0.66 (0.05),0.59
3,models_C33_1,D3_antagonist,rf,10,0.83 (0.02),0.83,0.83 (0.02),0.83,0.69 (0.03),0.69,0.65 (0.04),0.61
6,models_C33_2,D3_antagonist,xgb,10,0.83 (0.02),0.83,0.84 (0.02),0.84,0.69 (0.03),0.69,0.66 (0.03),0.62
7,models_C33_2,D3_antagonist,rf,10,0.83 (0.01),0.83,0.84 (0.02),0.84,0.69 (0.02),0.69,0.66 (0.02),0.64
10,models_C33_3,D3_antagonist,xgb,10,0.82 (0.01),0.82,0.82 (0.01),0.82,0.68 (0.02),0.68,0.71 (0.02),0.69
11,models_C33_3,D3_antagonist,rf,10,0.82 (0.02),0.82,0.82 (0.01),0.82,0.67 (0.02),0.67,0.72 (0.02),0.69